RFC 8785 Compliance - Number Serialization Precision & Notation

Hi! I'm using your library for data sealing and found two edge cases where the canonicalization of numbers deviates from RFC 8785 (Section 3.2.2.3) and ECMA-262 7.1.12.1.

It looks like there might be an internal conversion to double that is causing rounding and incorrect notation thresholds.

``` json
// Test Input
"numbers": [0.00000001, 9.999999999999999e-1]

// Expected Output
"numbers": [1e-8, 0.9999999999999999]

// Actual Output
"numbers": [0, 1]
```

I've checked in python:
```
>>> 0.00000001
1e-08
>>> "{:e}".format(Decimal("0.9999999999999999"))
'9.999999999999999e-1'
```

Environment:
`java -version: openjdk version "21.0.10" 2026-01-20`
```xml
<dependency>
    <groupId>com.apicatalog</groupId>
    <artifactId>titanium-jcs</artifactId>
    <version>1.1.1</version>
</dependency>
```

Test case
``` diff
diff --git a/src/test/resources/com/apicatalog/jcs/primitive-data-types.in.json b/src/test/resources/com/apicatalog/jcs/primitive-data-types.in.json
index b66d819..aba355d 100644
--- a/src/test/resources/com/apicatalog/jcs/primitive-data-types.in.json
+++ b/src/test/resources/com/apicatalog/jcs/primitive-data-types.in.json
@@ -4,7 +4,9 @@
     1E30,
     4.50,
     2e-3,
-    0.000000000000000000000000001
+    0.000000000000000000000000001,
+    9.999999999999999e-1,
+    0.00000001
   ],
   "string": "\u20ac$\u000F\u000aA'\u0042\u0022\u005c\\\"\/",
   "literals": [
@@ -12,4 +14,4 @@
     true,
     false
   ]
-}
\ No newline at end of file
+}
diff --git a/src/test/resources/com/apicatalog/jcs/primitive-data-types.out.json b/src/test/resources/com/apicatalog/jcs/primitive-data-types.out.json
index 29b720b..47d20b3 100644
--- a/src/test/resources/com/apicatalog/jcs/primitive-data-types.out.json
+++ b/src/test/resources/com/apicatalog/jcs/primitive-data-types.out.json
@@ -1 +1 @@
-{"literals":[null,true,false],"numbers":[333333333.3333333,1e+30,4.5,0.002,1e-27],"string":"€$\u000f\nA'B\"\\\\\"/"}
\ No newline at end of file
+{"literals":[null,true,false],"numbers":[333333333.3333333,1e+30,4.5,0.002,1e-27,0.9999999999999999,1e-8],"string":"€$\u000f\nA'B\"\\\\\"/"}
```